@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
  html,
  body {
    @apply max-w-6xl min-h-screen overflow-x-hidden bg-[#222] mx-auto;
  }
  a {
    @apply text-inherit no-underline;
  }
  .container-search:hover input,
  input:focus,
  input:not(:placeholder-shown) {
    @apply w-60 p-2 pl-4;
  }

  .container-search:hover .icon-close,
  input:focus ~ .icon .icon-close,
  input:not(:placeholder-shown) ~ .icon .icon-close {
    @apply opacity-100;
  }

  .container-search:hover .icon-search,
  input:focus ~ .icon .icon-search,
  input:not(:placeholder-shown) ~ .icon .icon-search {
    @apply opacity-0;
  }
}
